/* 13.02.2020 */

h1 {
    font-family: fantasy;
    font-size: 3em;
    color: blue;
    border-bottom: solid 2px blue;
    border-right: solid 2px blue;
    width: 400px;
    text-align: center;    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: 1s;
}

img:hover {
    transform: scale(1.1);
}
